<h1>Our Menu:<h1>

<span>
    <% @services.each do |s| %>
        <li>
            <h2> <%= s.name %></h2>
            <ul>
                <li>
                    <p> <%= s.description %></p>
                </li>
                <li>
                    <p>$<%= s.price %></p>
                </li>
            </ul>
            <br>
        </li>
    <% end %>
    <p>
    <a href="/appointments/new"  class="button champagne">Ready to Book?!</a>
    </p>
</span>
