@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@media screen {
  * {
    text-align: center;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  
  html, body {
    height: 100%;
    width: 100%;
  }

  h1 {
    font-family: 'Pacifico', cursive;
    font-size: 42px;
    color: #FDCDC3;
    padding-bottom: 40px;
  }

  h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: #DF9C7F;
    padding-bottom: 20px;
  }


  li, a {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #E7B287;
    text-decoration: none;
  }
  
  p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #E7B287;
    text-decoration: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
  }

  .nav__links {
    list-style: none;
  }

  .nav__links li {
    display: inline-block;
    padding: 45px;
  }

  .nav__links li a {
    transition: all 0.3s ease 0s;
  }

  .nav__links li a:hover {
    color: #DF9C7F;
  }
  
  .logo {
    cursor: pointer;
  }

  .button {
    display: inline-block;
    zoom: 1;
    vertical-align: baseline;
    margin: 0px 16px 40px 16px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    padding: .2em 2em .35em;
    text-shadow: 0 1px rgba(255, 255, 255, .3);
    border-radius: .5em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  }

  .form-btn {

  }

  .champagne {
    color: #DF9C7F;
    border: solid 1px #FDCDC3;
    background: #FFDCC6;
  }

  .form-box {
    border: 2px solid #E7B287;
    border-radius: .5em;
  }

  .img-main {
    max-width: 100%;
    height: auto;
  }

  .success {
    color: #DF9C7F;
    background: #FFDCC6;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    padding: 4px 4px;
  }

  .failure {
    color: #DF9C7F;
    background: #FDCDC3;
    border-color: solid 4px #DF9C7F;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    padding: 4px 4px;
  }

  .branding {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    color: #DF9C7F;
    padding-top: 20px;
  }

}
  
@media screen and (max-width: 600px) {

  
}