<img class="img-main" src="/images/homepage_image.png" alt="homepage display">

<span>
    <h2>Ready to book an appointment?!</h2>
    <a href="/users/signup" class="button champagne">Sign Up</a> <a href="/users/login" class="button champagne">Log In</a>
</span>
