<h1>Welcome to the Sinatra Salon Appointment Maker!</h1>
<br>
<h3><a href="/services/all">Click here to view our Menu of Services</a><h3>

<span>
    <h2>Ready to book an appointment?!</h2>
    <p>
    <a href="/users/signup">Sign Up</a> or <a href="/users/login">Log In</a>
    </p>
</span>
