<img class="img-main" src="/images/homepage_image.png" alt="homepage display">

<span>
    <h2>Ready to book an appointment?!</h2>
    <p>
    <a href="/users/signup">Sign Up</a> or <a href="/users/login">Log In</a>
    </p>
</span>
