#link to view all services + sign up button + log in button
# <h2><a href="">Click here to view our Menu of Services</a><h2>

<span>
    <h4>Ready to book an appointment?!</h4>
    <p>
    <a href="/users/signup">Sign Up</a> or <a href="/users/login">Log In</a> #later give a class so can be styled like a button class="btn">
    </p>
</span>
