#users profile page. list of appointment instances belonging to that user + link to book new appointment + log out button

<h2>Hi <%= @user.firstname %>!</h2>

<h4>Upcoming appointments:</h4>

<a href="/appointments/new">Book another appointment!</a> 

<a href="/users/logout">Log out</a>#make class for styling as button