<%#users profile page. list of appointment instances belonging to that user + link to book new appointment + log out button %>

<h2>Hi <%= @user.first_name %>!</h2>

<h4>Upcoming appointments:</h4>
<br>
<br>
<a href="/appointments/new">Book another appointment!</a><br>
<a href="/users/logout">Log out</a> <%#make class for styling as button%>