
<h2>Hey There! Let us grab a few details before you can book an appointment.</h2>

<form action='/users/signup' method="POST">
    <ul>
    <li>
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="user[first_name]" value="">
    </li>
    <br>
    <li>
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="user[last_name]" value="">
    </li>
    <br>
    <li>
        <label for="username">Create a username:</label>
        <input type="text" id="username" name="user[username]" value="">
    </li>
    <br>
    <li>
        <label for="password">Set your password:</label>
        <input type="password" id="password" name="user[password]" value="">
    </li>
    <br>
    <br>
    <li>
        <input type="submit" class="button champagne" value="Ready for a mani!">
    </li>
</form>
