<h2>Book an Appointment:</h2>

<form action='/appointments/new' method="POST">
    <ul>
    <li> #date picker widget
        <label for="date">
        <span>Select Date:</span>
        <em>mm/dd</em>
        </label>
        <input type="date" id="date" name="appointment[date]">
    </li>
    <br>
    <li> #to set service_id. radio buttons to select ONE service from list off all service instances @services = Service.all
        <label for="service_id">
        <span>Select a Service:</span>
        </label>
        <ul>
            <% @services.each do |s| %>
                <li>
                <%= s.name %>
                <input type="radio" id="<%= s.id %>" name="service_id" value="<%= s.name %>">
                </li>
            <% end %>
        </ul>
    </li>
    <br>
    <li> #drop down menu showing all times available to the service instance set in step above. 
        <label for="time">
        <span>Available Times:</span>
        </label>
        <select id="time" name="appointment[time]">
            <% @services.each do |s| %>
                <% if @appointment.service_id == s.id %>
                    <option value="<% s.available_ties %>">"#{s.available_times}"</option>
                <% else %>
                <% end %>
            <% end %>
        </select>
    </li>
    <br>
    <li> #hidden button submitting user_id as loggin in users id
        <input type="hidden" id="user_id" name="user_id" value="<%= params[:user][:id] %>">
    </li>
    <br>
    <br>
    <li>
        <input type="submit" value="Book this appointment!">
    </li>
</form>

#1. How do I get @services into this file? currently it is services_controller which my index route of appointments_controller redirects to
#2. in order for user to be able to book an appointment, need TIME... should I save time as an array and seed it with simple times such as Mondays 1pm 3pm, Tuesdays 11am, etc? 
#3. does hidden button work to set user_id of Appointment instance to user.id of current user?

#4. seeds file not working?

#5. ok that I do not have an ActiveRecord version specified in my migrations?
#6. ok that user cannot edit their account? The edit featuer is part of restful 7 in appointment_controller. User can make/edit/delete appointments